.message.well
  .profile
    =image_tag "http://placekitten.com/g/50/50", class: "img-circle"
    %p Adam Gamble
  .message-body
    %p 
      This is a sample message. Now is the time for all good men to come to 
      This is a sample message. Now is the time for all good men to come to 
      This is a sample message. Now is the time for all good men to come to 
      This is a sample message. Now is the time for all good men to come to 
      the aid of their country; Now is the time for all good men to come to the
      aid of their country
      the aid of their country; Now is the time for all good men to come to the
      aid of their country
      the aid of their country; Now is the time for all good men to come to the
      aid of their country
      the aid of their country; Now is the time for all good men to come to the
      aid of their country
  .clear
  .message-info
    %p
      2013-05-14 - 5:00 PM
  .clear
