.message.well{"ng-repeat" => "post in posts"}
  .profile
    =image_tag "http://placekitten.com/g/50/50", class: "img-circle"
    %p {{post.username}}
  .message-body
    %p{"ng-bind-html-unsafe" => "post.body"} 
  .clear
  .message-info
    %p
      2013-05-14 - 5:00 PM
  .clear
