// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message {
  margin-bottom: 5px;
}

.message .profile {
  border-right: 1px solid #e3e3e3;
  width: 125px;
  float: left;
}

.message .profile p {
 font-size: 10px;
 margin-top: 3px;
}

.message .profile .img-circle {
  margin-left: 10px;
}

.message-body > p {
  float: right;
  width: 80%;
  word-wrap: break-word;
}

.message-info > p {
  float: right;
  width: 80%;
  padding-top: 5px;
  border-top: 1px solid #e3e3e3;
}

.chat-box {
  width: 925px;
}

.users-list {
  position: fixed;
  left: 1000px;
  width: 125px;
}

ul {
  list-style-type: none;
}
